.App {
  text-align: center;
  display: flexbox;
  display: flex;
}
body{
  display: flexbox;

  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 75%;
    background-color: pink;
  }
}
